.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 2em;
  padding: 2em;
  justify-items: center;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.inputDiv {
  display: flex;
  gap: 1em;
}

.inputDiv button {
  background-color: #663ff7;
  border-radius: 10px;
  border: none;
  padding: 0 15px 0 15px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.inputDiv button:hover {
  color: black;
  box-shadow: 0 0 10px 6px #5528f8;
}

label {
  font-size: 20px;
  font-weight: 700;
}

input {
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  font-weight: 700;
}

.card {
  border-radius: 10px;
  transition: transform 0.2s;
  background-color: #8e8ffa;
  width: 210px;
}

.card:hover {
  transform: scale(1.13);
}

.title {
  display: flex;
  justify-content: center;
  padding: 10px;
}

h4 {
  padding: 0;
  margin: 0;
}

.seriesImg {
  display: flex;
  justify-content: center;
}

img {
  width: 80%;
  border-radius: 10px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-weight: 700;
  padding-top: 10px;
}

.addToWatchlistDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.btn {
  background-color: #5134e2;
  padding: 8px 13px 8px 13px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 10px 3px #2601dd;
  color: white;
}

.error {
  display: flex;
  justify-content: center;
}

.fillerImg {
  width: 80%;
  height: 236px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7677d6;
  border-radius: 10px;
}

@media (max-width: 515px) {
  .card {
    width: 300px;
  }

  .fillerImg {
    height: 337px;
  }
}
