.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em 2em 7em 2em;
  gap: 2em;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  position: relative;
}

.loading p {
  position: absolute;
  bottom: -4em;
}

.loadMore {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loadMore button {
  background-color: #663ff7;
  font-weight: 700;
  border: none;
  padding: 15px;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    box-shadow: 0 0 10px 6px white;
    color: white;
  }
}

.endOfResults {
  display: flex;
  justify-content: center;
}

.endOfResults p {
  border-radius: 10px;
  padding: 20px;
  margin: 0;
  background-color: #7752fe;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    #9c82fc 0%,
    #7752fe 51%,
    #5b2ffa 100%
  );
  background-size: 200% 100%;
  animation: gradient-loading 2s ease-in-out infinite;
}

@keyframes gradient-loading {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.buttonsDiv {
  display: flex;
  width: 100%;
  gap: 1em;
  flex-direction: column;
}

.scrollToTop {
  display: flex;
  justify-content: flex-end;
}

.scrollToTop button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  color: black;
  background-color: #4602c4;

  &:hover {
    box-shadow: 0 0 10px 6px white;
    color: white;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1em 2px 7em 2px;
    gap: 0.5em;
  }

  .buttonsDiv {
    padding-top: 1em;
  }

  .scrollToTop {
    justify-content: center;
  }

  .card {
    width: 30%;
  }
}

@media (max-width: 550px) {
  .card {
    width: 45%;
  }
}
