<div class="loading" *ngIf="loading">
  <app-loading-spinner></app-loading-spinner>
  <p>Loading Results...</p>
</div>
<div class="container">
  <app-series-component
    *ngFor="let show of seriesData"
    [isRemoveButton]="false"
    [show]="show"
    class="card"
  ></app-series-component>
  <div class="buttonsDiv">
    <div class="loadMore" *ngIf="initialResults <= 240; else noResults">
      <button (click)="loadData()">Load More</button>
    </div>
    <div class="scrollToTop"><button (click)="scrollToTop()">TOP</button></div>
  </div>
  <ng-template #noResults>
    <div class="endOfResults">
      <p>No more results to load</p>
    </div>
  </ng-template>
</div>
