<div class="loading" *ngIf="loading">
  <app-loading-spinner></app-loading-spinner>
  <p>Loading Results...</p>
</div>
<app-sort-elements [series]="seriesData"></app-sort-elements>
<div class="container">
  <app-series-component
    *ngFor="let show of seriesData"
    [isRemoveButton]="false"
    [show]="show"
    class="card"
  ></app-series-component>
  <div class="noMoreResults" *ngIf="seriesData.length === 240">
    <p>No more results</p>
  </div>
  <div class="scrollToTop"><button (click)="scrollToTop()">TOP</button></div>
</div>
