.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 2em;
  padding: 2em;
  justify-items: center;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  position: relative;
}

.loading p {
  position: absolute;
  bottom: -4em;
}

.loadMore {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loadDiv {
  display: flex;
  justify-content: center;
}

.loadDiv button {
  background-color: #663ff7;
  font-weight: 700;
  border: none;
  padding: 15px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.loadDiv button:hover {
  box-shadow: 0 0 10px 6px #5528f8;
  color: black;
}

.endOfResults {
  display: flex;
  justify-content: center;
}

.endOfResults p {
  border-radius: 10px;
  padding: 20px;
  background-color: #7752fe;
  color: white;
  font-weight: 700;
}

.scrollTop {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px 10px 10px;
  margin-right: 2em;
}

.scrollTop button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  color: white;
  background-color: #4602c4;
}

.scrollTop button:hover {
  box-shadow: 0 0 10px 6px #5527fa;
  color: black;
}
