a {
  text-decoration: none;
  color: black;
}

.card {
  border-radius: 10px;
  transition: transform 0.2s;
  background-color: #8e8ffa;
  width: 100%;
  text-align: center;

  &:hover {
    transform: scale(1.13);
  }
}

.title {
  padding: 10px;
}

h4 {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

img {
  width: 80%;
  border-radius: 10px;
}

.rating {
  padding: 5px;
  font-weight: 700;
  padding-top: 10px;
}

.rating p {
  margin: 5px;
}

.btnDiv {
  padding-bottom: 10px;
}

.btn {
  background-color: #5134e2;
  padding: 8px 13px 8px 13px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px 3px white;
    color: white;
  }
}

.fillerImg {
  width: 80%;
  background-color: #7677d6;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .btn {
    font-size: 13px;
  }

  .btn:hover {
    box-shadow: none;
    color: black;
  }

  .card:hover {
    transform: none;
  }
}
