.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 2em;
  padding: 2em;
  justify-items: center;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  position: relative;
}

.loading p {
  position: absolute;
  bottom: -4em;
}
