<form (ngSubmit)="showResults()">
  <label for="Search">Search Series</label>
  <div class="inputDiv">
    <input
      id="Search"
      type="text"
      placeholder="Search Series"
      [(ngModel)]="searchQuery"
      name="searchQuery"
    />
    <button type="submit">Search</button>
  </div>
</form>
<div><app-sort-elements [series]="searchResults"></app-sort-elements></div>
<div class="loading" *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="error" *ngIf="hasError">
  <app-no-results-error></app-no-results-error>
</div>
<div class="container">
  <app-series-component
    *ngFor="let series of searchResults"
    [show]="series"
    [isRemoveButton]="false"
    class="card"
  ></app-series-component>
</div>
